@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*
body {
  background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.5)),
        url("back.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'poppins', sans-serif;
  }

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 39px;
  cursor: default;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: 340px;
  cursor: pointer;
}

.nav-list li {
  margin: 0 30px;
}

#a:hover {
  color: #9C9292;
  transition: 0.2s;
}

#b:hover {
  color: #9C9292;
  transition: 0.2s;
}

#c:hover {
  color: #9C9292;
  transition: 0.2s;
}

#d:hover {
  color: #9C9292;
  transition: 0.2s;
}

#resume {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #0075FF;
  color: #ffffff;
  padding: 10px 20px;
  transition: all .3s ease;
  margin-right: 40px;
  font-size: 15px;
}

#resume:hover {
  color: #000;
  transition: 0.2s;
}

.page1 {
  display: flex;
  padding: 40px;
}

.page1 img {
  height: 400px;
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
}

.page1 p {
  padding-left: 30px;
  font-size: 36px;
  text-align: center;
}

.project p {
  font-size: 50px;
  text-align: center;
}

.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.box {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 11px;
}
.box p{
  margin-top: 60px;
  font-size: 40px;
}

#box1 {
  border-radius: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
}

#page1 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 60px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#page1:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

#git1 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#git1:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

#box2 {
  border-radius: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
}

#page2 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 60px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#page2:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

#git2 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#git2:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

#box3 {
  border-radius: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
}

#git3 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 160px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#git3:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

#box4 {
  border-radius: 20px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
}

#git4 {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  margin-left: 160px;
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  transition: transform 0.3s ease;
}

#git4:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -8%);
}

.skill {
  margin-top: 100px;
}

.skill p {
  font-size: 50px;
  text-align: center;
}

.skillbox {
  background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
  backdrop-filter: blur(60px);
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 11px;
  font-size: 30px;
  margin-bottom: 100px;
}

.skillbox li {
  margin-left: 30px;
}

#ui {
  margin-top: 40px;
}

hr {
  border-color: #9C9292;
}

footer {
  display: flex;
  padding: 10px;
  justify-content: center;
  color: #9C9292;
}

footer p {
  margin-top: 5px;
  margin-left: 30px;
}

#mail {
  font-size: 30px;
  margin-left: 30px;
  color: #9C9292;
}

#linked {
  font-size: 30px;
  color: #9C9292;
}

#link {
  font-size: 30px;
}

/* media query for smaller screens */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    flex-direction: column;
  }

  header p {
    margin: 20px;
    font-size: 24px;
  }

  .nav-list {
    margin: 20px;
  }

  .nav-list li {
    margin: 0 15px;
  }

  #resume {
    margin: 20px;
  }

  .page1 {
    flex-direction: column;
    padding: 20px;
  }

  .page1 img {
    height: 420px;
    width: 100%;
    margin-top: 20px;
  }

  .page1 p {
    padding: 20px;
    font-size: 24px;
  }

  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .skillbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .skillbox li {
    margin: 10px 0;
    margin-left: 20px;
  }
  .project p {
    font-size: 40px;
  }

  .box {
    width: 100%;
  }

  #page1,
  #git1,
  #page2,
  #git2{
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  #git3,
  #git4{
    font-size: 24px;
    margin-left: 110px;
    margin-bottom: 20px;
  }
}

/* Media query for medium-sized screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  header p {
    font-size: 28px;
  }

  .nav-list {
    margin: 20px;
  }

  .nav-list li {
    margin: 0 20px;
  }

  #resume {
    margin: 20px;
  }

  .page1 {
    padding: 40px;
  }

  .page1 img {
    height: 300px;
    margin-top: 20px;
  }

  .page1 p {
    font-size: 25px;
  }

  .container {
    flex-direction: row;
    align-items: center;
  }

  .box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .skillbox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .skillbox li {
    margin-left: 20px;
  }

  .project p {
    font-size: 50px;
  }

  #page1,
  #git1,
  #page2,
  #git2,
  #git3,
  #git4 {
    font-size: 28px;
    margin-left: 15px;
  }
}

body::-webkit-scrollbar {
  display: none;
}